<h1>New</h1>

<form accept-charset="UTF-8" action="<%= users_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<!--  <h3>Form 1</h3>-->

  <label for="username">Username:</label>
  <input id="username" type="text" name="user[username]">

  <label for=" email">Email:</label>
  <input id="email" type="email" name="user[email]">

  <label for="password">Password:</label>
  <input id="password" type="password" name="user[password]">

  <input type="submit" value="Sign Up">

</form>


